html, body{
  // background-color: $aqua;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  .intro{
    width: 100%;
    height: 96%;
    margin: auto;
    // background-color: $aqua;
    background-image: url(https://thumbs.dreamstime.com/b/ci%C3%A9rrese-para-arriba-de-piedras-mojadas-del-r%C3%ADo-44549779.jpg);
    display: table;
    top: 0;
    background-size: cover;
    .inner{
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      max-width: none;
      .content{
        max-width: 500px;
        margin: 0 auto;

        h1{
          font-family: $fontName;
          font-size: 5em;
          color: $hardCoral;
        }
        h2{
          color: $pato;
        }
        .button-about{
          padding: 2% 3%;
	        background: linear-gradient(-90deg, $hardCoral , $pato);
          // background: $hardCoral;
          color: $black;
          -webkit-border-radius: 7px;
          -moz-border-radius: 7px;
          border-radius: 7px;
          border: solid 1px $pato;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
          -webkit-box-shadow: inset 0 1px 0 rgba(#ffffff, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
        }
        .button-about:hover, .button-about:focus {
      	background: linear-gradient(90deg, $hardCoral , $pato);
      	border: solid 1px $hardCoral;
        color: #fff;
      	text-decoration: none;
      }
      }
    }
  }
  .nav{
    background-color: transparent;
    font-family: $fontName;
    font-size: 1.5em;
    margin: 0;
    border: 2px solid transparent;

    .brand{
      font-size: 2em;
      font-weight: bold;
    }
  }
  .info-proyect{

  }
}

section {
  overflow: hidden;
}
// #about-me{

  .col-about{
    padding: 1% 5% 2%;
    .photo{
      text-align: center;
      width: 67%;
    }

  }
  .icon-info{
    font-size: 50px;
    }
  .row-icon{
    padding: 4% 2%;
  }
  // .info-about{
  //   padding: 20%;
  // }
// }
