/* $black: #000 ;
aqua #B6F7D2
$petro: #0E9A8E;
$pato: #FFFC4D;
$hardCoral: #FE4040;
$fontName: 'Italianno', cursive; */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.intro {
  width: 100%;
  height: 100%;
  margin: auto;
  background-image: url(https://scontent.fscl13-1.fna.fbcdn.net/v/t1.0-9/29102076_1714522578593296_9182740860255600640_n.jpg?oh=eac7f5f1a2d20f8719e98b412abb9773&oe=5B054AD6);

  display: table;
  top: 0;
  background-size: cover;

}

.inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
}

.content {
  max-width: 500px;
  margin: 0 auto;
}
/* h1 {
}
*/
h2 {
  color: #B6F7D2;
}

.back-deg{
}
.back-deg h1{
  color: White;
  font-family: 'Cinzel';
  font-size: 8em;

}
.back-deg h2{
  color: 1px solid #B6F7D2;;

  font-family: 'Cinzel';
  font-size: 2em;
}
.button-about {
  float: right;
  padding: 2% 3%;
  /* background: linear-gradient(-90deg, #FE4040, #FFFC4D); */
  font-size: 1em;
  padding: 1 0%;
  background-color: #d19b3d;
  color: #23282e;
  border-radius: 5%;
  border: black;
  margin: 1%;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: solid 1px #FFFC4D;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(#ffffff, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-about:hover, .button-about:focus {
  background: linear-gradient(90deg, #FE4040, #FFFC4D);
  border: solid 1px #FE4040;
  color: #fff;
  text-decoration: none;
}

.nav {
  background-color: transparent;
  font-family: 'Italianno', cursive;
  font-size: 1.5em;
  margin: 0;
  border: 2px solid transparent;
}

.brand {
  font-size: 2em;
  font-weight: bold;
}

section {
  overflow: hidden;
}


.col-about {
  padding: 1% 5% 2%;
}

.photo {
  text-align: center;
  width: 67%;
}

}

.row-icon{
  font-size: 60px;
}
#icon-1{
  margin-left: 4%;
  font-size: 4em;
}
#icon-3{
  margin-left: 3%;
  font-size: 4em;
}
#icon-2{
  margin-left: 15%;
  font-size: 4em;

}
#cv{
  height: 100vh;
}

img {
     width: 100%;
	}

.carousel-inner {
  margin: 5%;
      background-color: rgba(46,53,61,0.7);
      color: #B6F7D2;
}

.carousel-caption {
      /* font-size: 2em;
      right: 10%;
      left: 60%;
      top: 30%;
      bottom: 30%; */
      /* text-align: left;
      text-shadow: none; */
     }
.carousel-indicators{
      font-size: 2em;
      /* bottom: -1%; */
      text-align: left;
      text-shadow: none;
  }

  /***
   * Bootstrap relies on CSS transitions for animation, which makes it
   * easy to override.  Just add the vertical class to your carousel:
   * <div class='carousel vertical'>...</div>
   ***/

  .carousel.vertical .carousel-inner {
    height: 100%;
  }
  .carousel.vertical .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition:    0.6s ease-in-out top;
    -ms-transition:     0.6s ease-in-out top;
    -o-transition:      0.6s ease-in-out top;
    left:               0;
  }
  .carousel.vertical .active,
  .carousel.vertical .next.left,
  .carousel.vertical .prev.right    { top:     0; }
  .carousel.vertical .next,
  .carousel.vertical .active.right  { top:  100%; }
  .carousel.vertical .prev,
  .carousel.vertical .active.left   { top: -100%; }

.gato{

}
.perro{
  height: 80vh;
}
.ele{
  display: inline;
  vertical-align: middle;
}
.class-default{
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://scontent.fscl13-1.fna.fbcdn.net/v/t1.0-9/29102076_1714522578593296_9182740860255600640_n.jpg?oh=eac7f5f1a2d20f8719e98b412abb9773&oe=5B054AD6) no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  padding: 0 0 5% 5%;
  height: 100%;
}
/* .gato{
  overflow: auto;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://thumbs.dreamstime.com/b/ci%C3%A9rrese-para-arriba-de-piedras-mojadas-del-r%C3%ADo-44549779.jpg) no-repeat;
} */
header.navbar+nav.navbar {
  /* margin-top: 20px;same margin-bottom .navbar */
}

.navbar.navbar-default.navbar-fixed-top {
  margin-top: 50px;
}

/* .sidebar.navbar-fixed-top{
    margin-top: 100px;
   } */

@media (min-width: 768px) and (max-width: 998px) {
  /* .navbar.navbar-default.navbar-fixed-top{
       margin-top: 100px;
       } */
  .sidebar.navbar-fixed-top {
    margin-top: 150px;
  }
  .class-default{
    height: auto;
  }
  .icon-but{
  width: 45% !important;
  }

}

  /* Custom navbar default: global*/
.navbar.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  margin: 0;
  border-radius: 0;
}

.navbar.navbar-default .navbar-brand {
  color: #666;
  text-shadow: none;
  min-width: 150px;
}

.navbar.navbar-default .navbar-nav>li>a {
  color: #666;
  text-shadow: none;
}

.navbar.navbar-default .navbar-nav>li>a {
  color: #666;
  text-shadow: none;
}

.navbar.navbar-default .navbar-nav>li>a:hover {
  color: #acc47f;
}

.navbar.navbar-default .navbar-nav>.active>a {
  color: #fff;
  background-color: #acc47f;
}

.navbar.navbar-default .navbar-nav>.active>a:hover {
  color: #608224;
  background-color: #acc47f;
}

.navbar.navbar-default .caret {
  border-top-color: #ccc;
  border-bottom-color: #ccc;
}

.navbar.navbar-default .caret:hover {
  border-top-color: #333;
  border-bottom-color: #333;
}

/* Custom sidebar menu */

/*Remove rounded coners*/

nav.sidebar.navbar {
  border-radius: 0px;
}

nav.sidebar, .main {
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/

.main {
  padding: 10px 10px 0 10px;
}

  /* .....NavBar: Icon only with coloring/layout.....*/

  /*small/medium side display*/

  @media (min-width: 768px) {
    /*Allow main to be next to Nav*/
    .main {
      position: absolute;
      /*width: calc(100% - 40px); keeps 100% minus nav size*/
      margin-left: 0px;
      float: right;
    }
    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover+.main {
      margin-left: 200px;
    }
    /*Center Brand*/
    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header {
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    /*Center Icons*/
    nav.sidebar a {
      padding-right: 13px;
      min-width: 100px;
    }
    /*custom sidebar nav*/
    nav.sidebar ul.nav.navbar-nav {
      margin: 0;
    }
    nav.sidebar.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: white;
    }
    /*adds border top to first nav box */
    nav.sidebar .navbar-nav>li:first-child {
      border-top: 1px #e5e5e5 solid;
    }
    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav>li {
      border-bottom: 1px #e5e5e5 solid;
    }
    /*adds background on hover*/
    nav.sidebar .navbar-nav>li:hover {
      color: #fff;
      background-color: #43600E;
    }
    /*removes border last element*/
    nav.sidebar .navbar-nav>li.last {
      border-bottom: none;
    }
    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
      padding: 0 0px 0 0px;
    }
    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }
    /*O quanto o menu irá esconder á esquerda*/
    /*gives sidebar width/height*/
    nav.sidebar {
      width: 200px;
      height: 100%;
      margin-left: -270px;
      float: left;
      z-index: 8000;
      margin-bottom: 0px;
    }
    /*give sidebar 100% width;*/
    nav.sidebar li {
      width: 100%;
    }
    /* Move nav to full on mouse over*/
    nav.sidebar:hover {
      margin-left: 0px;
    }
    /*for hiden things when navbar hidden*/
    .forAnimate {
      opacity: 0;
    }
  }

  /* .....NavBar: Fully showing nav bar..... */

@media (min-width: 1330px) {
  /*     Allow main to be next to Nav
  .main{
    width: calc(100% - 200px); keeps 100% minus nav size
    margin-left: 200px;
  }

  Show all nav
  nav.sidebar{
    margin-left: 0px;
    float: left;
  }
  Show hidden items on nav
  nav.sidebar .forAnimate{
    opacity: 1;
  } */
}
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
  color: #CCC;
  background-color: transparent;
}

nav:hover .forAnimate{
  opacity: 1;
}

/*---- FIM SLIDE MENU*/

.nav-side-menu {
overflow: auto;
font-family: verdana;
font-size: 12px;
font-weight: 200;
background-color: #2e353d;
position: fixed;
top: 0px;
width: 300px;
height: 100%;
color: #B6F7D2;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
/* .nav-side-menu li :not(collapsed) .arrow:before {
  content: "➢";
  font-family: 'FontAwesome';
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
} */
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
/* .nav-side-menu li .sub-menu li:before {
  content: "+";
    font-family: FontAwesome;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
} */
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #B6F7D2;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
  .class-default{
    height: auto;
  }
  .icon-but{
  width: 45% !important;
  }

}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
.about-me{
  margin-top: 10%;
  background-color: rgba(46,53,61,0.7);
  width: 90%;
  /* color: white;
  margin: 30px;
    background-color: #2E353D;
    border: 1px solid black;
    opacity: 0.6; */
    /* filter: alpha(opacity=60); */

}
.ability{
  margin-top: 5%;
  background-color: rgba(209, 155, 61, 0.7);
  height: 50vh;
  width: 90%;
}
.info-about{
  color : #b6f7d2;
}
.icon-but{
  font-size: 1em;
  padding: 1 0%;
  background-color: #d19b3d;
  color: #b6f7d2;
  border-radius: 5%;
  border: black;
  margin: 1%;
  text-align: center;

}
.icon-but a{
  color: #23282e;
  text-decoration: none;
}
.border2{
  width: 80%;
    border-bottom: 5px solid #d19b3d;
    border-left: 5px solid #d19b3d;
    padding: 5%;
}
.border{
  width: 27%;
    border-bottom: 5px solid #d19b3d;
    border-left: 5px solid #d19b3d;
}
.icon-rotate{
    font-size: 2em;
    float: left;
    margin: 3px 20px;
    -webkit-transition: 0.6s ease-out;
    -moz-transition:  0.6s ease-out;
    transition:  0.6s ease-out;
  }
.icon-rotate:hover{
    -webkit-transform: rotateZ(720deg);
    -moz-transform: rotateZ(720deg);
    transform: rotateZ(720deg);
  }
.icon-but{
width: 48%;
}
.fa-lg{
  float: right;
  padding-top: 5%;
}
