/* $black: #000 ;
aqua #B6F7D2
$petro: #0E9A8E;
$pato: #FFFC4D;
$hardCoral: #FE4040;
$fontName: 'Italianno', cursive; */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
#home{
  background-image: url(https://scontent.fscl13-1.fna.fbcdn.net/v/t1.0-9/29102076_1714522578593296_9182740860255600640_n.jpg?oh=eac7f5f1a2d20f8719e98b412abb9773&oe=5B054AD6);
  display: table;
  height: 100%;
  width: 100%;
  background-size: cover;
}
.content{
  display: table-cell;
  vertical-align: middle;
  text-align: center;

}

h3 {
  font-size: 210%!important;
  font-weight: 500;
  font-family: 'Cardo', serif;
  color: #B6F7D2;
  text-shadow: 2px 2px 5px black;
}
h1{
  color: White;
  font-family: 'Allura', cursive;
  font-size: 800% !important;
  line-height: 1.2;
  text-shadow: 5px 5px 8px black;
}
h2{
  font-family: 'Allura', cursive;
  color: #B6F7D2;
  font-size: 150%!important;

}
.backColor{
  background-color: rgba(46, 53, 61, 0.7);
  width: 90%;

  margin-left: 5%;
  padding-bottom: 2%;
  padding-top: 3%;
}
#about-me{
  padding-top: 5%;
}
.info-proyects{
  padding-top: 5%;
}
.p-info{
  text-align: justify!important;
  padding: 10% 10% 0% 10%;
  line-height: 1.3;
}
.col-about {
  padding: 1% 5% 2%;
}

.photo {
  text-align: center;
  width: 67%;
}

}

.row-icon{
  font-size: 60px;
}
#icon-1{
  margin-left: 4%;
  font-size: 4em;
}
#icon-3{
  margin-left: 3%;
  font-size: 4em;
}
#icon-2{
  margin-left: 15%;
  font-size: 4em;

}
#cv{
  height: 80vh;

}
#cv embed{
  display: inline-block;
}
img {
     width: 100%;
	}


.class-default{
  /* background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://scontent.fscl13-1.fna.fbcdn.net/v/t1.0-9/29102076_1714522578593296_9182740860255600640_n.jpg?oh=eac7f5f1a2d20f8719e98b412abb9773&oe=5B054AD6) no-repeat; */
    background-image: url(https://scontent.fscl13-1.fna.fbcdn.net/v/t1.0-9/29102076_1714522578593296_9182740860255600640_n.jpg?oh=eac7f5f1a2d20f8719e98b412abb9773&oe=5B054AD6);
    display: table;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
}

header.navbar+nav.navbar {
  /* margin-top: 20px;same margin-bottom .navbar */
}

.navbar.navbar-default.navbar-fixed-top {
  margin-top: 50px;
}

/* .sidebar.navbar-fixed-top{
    margin-top: 100px;
   } */

@media (min-width: 768px) and (max-width: 998px) {
  /* .navbar.navbar-default.navbar-fixed-top{
       margin-top: 100px;
       } */
  .sidebar.navbar-fixed-top {
    margin-top: 150px;
  }

  .icon-but{
  width: 45% !important;
  }
  .top{
    padding: 9% 0 7% 0;

  }

}

  /* Custom navbar default: global*/
.navbar.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  margin: 0;
  border-radius: 0;
}

.navbar.navbar-default .navbar-brand {
  color: #666;
  text-shadow: none;
  min-width: 150px;
}

.navbar.navbar-default .navbar-nav>li>a {
  color: #666;
  text-shadow: none;
}

.navbar.navbar-default .navbar-nav>li>a {
  color: #666;
  text-shadow: none;
}

.navbar.navbar-default .navbar-nav>li>a:hover {
  color: #acc47f;
}

.navbar.navbar-default .navbar-nav>.active>a {
  color: #fff;
  background-color: #acc47f;
}

.navbar.navbar-default .navbar-nav>.active>a:hover {
  color: #608224;
  background-color: #acc47f;
}

.navbar.navbar-default .caret {
  border-top-color: #ccc;
  border-bottom-color: #ccc;
}

.navbar.navbar-default .caret:hover {
  border-top-color: #333;
  border-bottom-color: #333;
}

/* Custom sidebar menu */

/*Remove rounded coners*/

nav.sidebar.navbar {
  border-radius: 0px;
}

nav.sidebar, .main {
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/

.main {
  padding: 10px 10px 0 10px;
}

  /* .....NavBar: Icon only with coloring/layout.....*/

  /*small/medium side display*/

  @media (min-width: 768px) {
    /*Allow main to be next to Nav*/
    .main {
      position: absolute;
      /*width: calc(100% - 40px); keeps 100% minus nav size*/
      margin-left: 0px;
      float: right;
    }
    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover+.main {
      margin-left: 200px;
    }
    /*Center Brand*/
    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header {
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    /*Center Icons*/
    nav.sidebar a {
      padding-right: 13px;
      min-width: 100px;
    }
    /*custom sidebar nav*/
    nav.sidebar ul.nav.navbar-nav {
      margin: 0;
    }
    nav.sidebar.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: white;
    }
    /*adds border top to first nav box */
    nav.sidebar .navbar-nav>li:first-child {
      border-top: 1px #e5e5e5 solid;
    }
    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav>li {
      border-bottom: 1px #e5e5e5 solid;
    }
    /*adds background on hover*/
    nav.sidebar .navbar-nav>li:hover {
      color: #fff;
      background-color: #43600E;
    }
    /*removes border last element*/
    nav.sidebar .navbar-nav>li.last {
      border-bottom: none;
    }
    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
      padding: 0 0px 0 0px;
    }
    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }
    /*O quanto o menu irá esconder á esquerda*/
    /*gives sidebar width/height*/
    nav.sidebar {
      width: 200px;
      height: 100%;
      margin-left: -270px;
      float: left;
      z-index: 8000;
      margin-bottom: 0px;
    }
    /*give sidebar 100% width;*/
    nav.sidebar li {
      width: 100%;
    }
    /* Move nav to full on mouse over*/
    nav.sidebar:hover {
      margin-left: 0px;
    }
    /*for hiden things when navbar hidden*/
    .forAnimate {
      opacity: 0;
    }
    .dos{
      padding-bottom: 5%!important;
    }
  }

  /* .....NavBar: Fully showing nav bar..... */

@media (min-width: 1330px) {
  /*     Allow main to be next to Nav
  .main{
    width: calc(100% - 200px); keeps 100% minus nav size
    margin-left: 200px;
  }

  Show all nav
  nav.sidebar{
    margin-left: 0px;
    float: left;
  }
  Show hidden items on nav
  nav.sidebar .forAnimate{
    opacity: 1;
  } */
}
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
  color: #CCC;
  background-color: transparent;
}

nav:hover .forAnimate{
  opacity: 1;
}

/*---- FIM SLIDE MENU*/

.nav-side-menu {
overflow: auto;
font-family: verdana;
font-size: 12px;
font-weight: 200;
background-color: #2e353d;
position: fixed;
top: 0px;
width: 300px;
height: 100%;
color: #B6F7D2;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
/* .nav-side-menu li :not(collapsed) .arrow:before {
  content: "➢";
  font-family: 'FontAwesome';
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
} */
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
/* .nav-side-menu li .sub-menu li:before {
  content: "+";
    font-family: FontAwesome;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
} */
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #B6F7D2;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }

  .icon-but{
  width: 80% !important;
  }
  .dos{
    padding-bottom: 10%!important;
  }
  h3 {
    font-size: 150%!important;
    font-weight: 500;
    font-family: 'Cinzel', serif;
    color: #B6F7D2;
  }
  h1{
    color: White;
    font-family: 'Cinzel', serif;
    font-size: 350% !important;
    line-height: 0.9;
    text-shadow: 2px 2px 5px black;
  }
  .button {
  /* layout */
  	padding: .4em .5em .3em .5em !important;

  }
  .class-default{
    padding-top: 19%!important;
  }


}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  .class-default{
    padding-top: 10%;
  }

}


.top{
  padding: 2% 0 2% 0 !important;
  margin-bottom: 4% !important;

}
.ability{
  margin-top: 5%;
  background-color: rgba(209, 155, 61, 0.7);
  height: 50vh;
  width: 90%;
}
.info-about{
  color : #b6f7d2;
  line-height: 1;
}
.icon-but{
  margin: 5% 0 0 0!important;
  text-align: center;
  line-height: 1;

}
.icon-but a{
  color: #23282e;
  text-decoration: none;
  font-size: 0.7em;

}

.border{
  width: 48%;
  border-bottom: 5px solid #d19b3d;
  border-left: 5px solid #d19b3d;
  font-size: 2em;
  margin: 0;
}
.icon-rotate{
    font-size: 2em;
    float: left;
    margin: 3% 0% 3% 15%;
    -webkit-transition: 0.6s ease-out;
    -moz-transition:  0.6s ease-out;
    transition:  0.6s ease-out;
    z-index: 100;
  }
.icon-rotate:hover{
    -webkit-transform: rotateZ(720deg);
    -moz-transform: rotateZ(720deg);
    transform: rotateZ(720deg);
    z-index: 100;
  }
.icon-but{
width: 43%;
}
.fa-lg{
  float: right;
  padding-top: 5%;
}
button a{
  text-decoration: none;
}

.row-icon {
  animation-duration: 3s;
  animation-name: slidein;

}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.drop {
  animation: drop 1.2s forwards;
}
@keyframes drop {
  0% {
    transform-origin: center;
    opacity: 1;
  }
  20% {
    transform:
      translate3d(0, 20px, 0)
      rotate3d(0, 0, 1, -10deg);
    opacity: 1;
  }
  40%, 45% {
    transform:
      translate3d(0, -120px, 0)
      rotate3d(0, 0, 1, 10deg);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform:
      translate3d(0, 2000px, 0)
      rotate3d(0, 0, 1, 10deg);
  }
}
/* ------------------------------------------------ */

.button {

/* text */
	text-decoration: 		none;

	text-shadow: 			rgba(255,255,255,.5) 0 1px 0;
	-webkit-user-select: 	none;
	-moz-user-select: 		none;
	user-select: 			none;


/* layout */
	padding: 				.5em .6em .4em .6em;
	margin: 				1em;
	display: 				inline-block;
	position: 				relative;

	-webkit-border-radius: 	8px;
	-moz-border-radius: 	8px;
	border-radius: 	8px;

/* effects */
	border-top: 		1px solid rgba(255,255,255,0.8);
	border-bottom: 		1px solid rgba(0,0,0,0.1);

	background-image: 	-webkit-gradient(radial, 30% 0, 100, 1000% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
	background-image: 	-moz-radial-gradient(top, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
	background-image: 	gradient(radial, 30% 0, 100, 1000% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));

	-webkit-transition: background .2s ease-in-out;
	-moz-transition: 	background .2s ease-in-out;
	transition: 		background .2s ease-in-out;

/* color */
	color: 				hsl(0, 0%, 40%) !important;
	background-color: 	hsl(0, 0%, 75%);

	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
						rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
						rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	box-shadow:		 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
						hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
						rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */

}
.button a{
  /* font: 					24px/1em 'Droid Sans', sans-serif; */
	font-weight: 900 !important;
}
/* -------------- icon -------------- */
.button:before {
	font: 			1.2em/0 'Pictos', sans-serif;
	content: 		attr(data-icon); /* gets the icon value from the custom data attribute and puts it infront of the button label */
	margin-right: 	0.4em;

}
.button.orange {
	/* color: 				hsl(39, 100%, 30%) !important; */
  /* font-size: bold !important; */
	background-color: 	hsl(39, 100%, 50%);

	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
							hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
							hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	box-shadow:		 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
							hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
}
.button.orange:hover { 	background-color: hsl(39, 100%, 65%); }

/* -------------- States -------------- */

.button:hover {
	background-color: 	hsl(0, 0%, 83%);
  text-decoration: none;
}



.button:active {
	background-image: 	-webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) ));
	background-image: 	-moz-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) ));
	background-image: 	gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) ));

	-webkit-box-shadow: inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */
							rgba(0,0,0,0.4) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */
							rgba(0,0,0,0.4) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
	box-shadow: 		inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */
							rgba(0,0,0,0.4) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */

	-webkit-transform: 	translateY(.2em);
	-moz-transform: 	translateY(.2em);
	transform: 			translateY(.2em);
}

.button:focus {
	color: rgba(254,255,255,0.9) !important;
	text-shadow: rgba(0,0,0,0.2) 0 1px 2px;
}



/* -------------- Fonts -------------- */

.serif {
	font-family: 'Lobster', serif;
	font-weight: 			bold;
  font-size: 1.4em;
}

.button.glossy:after, .button.glass:after {
	content: 	"";
	position: 	absolute;
    width: 		90%;
    height: 	60%;
    top: 		0;
    left: 		5%;

    -webkit-border-radius: 	.5em .5em 1em 1em / .5em .5em 2em 2em;
    -moz-border-radius: 	.5em .5em 1em 1em / .5em .5em 2em 2em;
    border-radius: 			.5em .5em 1em 1em / .5em .5em 2em 2em;

    background-image: 		-webkit-gradient(linear, 0% 0, 100% 0, from( rgba(255,255,255,.55) ), to( rgba(255,255,255,.5) ),
    							color-stop(.5, rgba(255,255,255,0)), color-stop(.8, rgba(255,255,255,0)) );
    background-image: 		-moz-linear-gradient(left, rgba(255,255,255,.55), rgba(255,255,255,0) 50%, rgba(255,255,255,0) 80%, rgba(255,255,255,.5) );
    background-image: 		gradient(linear, 0% 0, 100% 0, from( rgba(255,255,255,.55) ), to( rgba(255,255,255,.5) ),
    							color-stop(.5, rgba(255,255,255,0)), color-stop(.8, rgba(255,255,255,0)) );
}
.button.glossy:active:after,
.button.glass:active:after,
.button.icon.glossy:after,
.button.icon.glass:after { height: 75% ; }

/* -------------- Glass + Transparent -------------- */
.button.glass {
	text-shadow: rgba(255,255,255,.5) 0 -1px 0, rgba(0,0,0,0.18) 0 .18em .15em;
}
.button.glass:active {
	text-shadow: rgba(255,255,255,.3) 0 1px 0, rgba(0,0,0,0.15) 0 .18em .15em;
}


/* -------------- Shapes -------------- */

.skew {
	border-top: 			none;
	padding-right: 			1.2em;
	padding-left: 			0.8em;
	-webkit-border-radius: 	5em 1em / 5em 1em;
	-moz-border-radius: 	5em 1em / 5em 1em;
	border-radius: 			5em 1em / 5em 1em;
}
.skew.glossy:after, .skew.glass:after {
	left: 10%;
	-webkit-border-radius: 	7em 1em / 5em 1em;
	-moz-border-radius: 	7em 1em / 5em 1em;
	border-radius: 			7em 1em / 5em 1em;
}
.skew.icon {
	padding-right: 			.9em;
	padding-left: 			.8em;
}

/* shield */
.shield, .shield.glossy:after, .shield.glass:after {
	-webkit-border-radius: 	.4em .4em 2em 2em / .4em .4em 3em 3em;
	-moz-border-radius: 	.4em .4em 2em 2em / .4em .4em 3em 3em;
	border-radius: 			.4em .4em 2em 2em / .4em .4em 3em 3em;
}
.shield {
	padding-left: 	.8em;
	padding-right: 	.8em;
}
.shield.icon {
	padding-left: 	.6em;
	padding-right: 	.6em;
}
